@model BurgerApp.Models.Burger

@{
    ViewData["Title"] = "Edit";
}
<head>
    <style>
        body{
         background-color:#FFE0FF;
         
     }
     .row{
         justify-content:center;
         font-size:20px;

     }
     h1{
         text-align:center;
     }
    </style>
</head>
<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Burger_Name" class="control-label"></label>
                <input asp-for="Burger_Name" class="form-control" />
                <span asp-validation-for="Burger_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burger_Location" class="control-label"></label>
                <input asp-for="Burger_Location" class="form-control" />
                <span asp-validation-for="Burger_Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div>
    <a asp-action="GetAllBurgers">Back</a>
</div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
